:root {
    --nav-heith: 9vh;
    --backgroudpagina: rgb(20, 20, 20);
}

* {
    text-decoration: none;
    font-family: system-ui,
        -apple-system,
        "Segoe UI",
        Roboto,
        "Helvetica Neue",
        "Noto Sans",
        "Liberation Sans",
        Arial,
        sans-serif,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol",
        "Noto Color Emoji";
}

body {
    margin: 0;
    padding: 0;
}

.cs-container-principal {
    cursor: default;
    background: lime;
    height: 100vh;
}

.cs-container-nav {
    height: var(--nav-heith);
    background: rgb(25, 25, 25);
    box-shadow: 0vh 0.7vh 1.5vh rgba(0, 0, 0, 0.872);
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2vh;
    padding-right: 2vh;
}

.cs-container-left-section {
    height: var(--nav-heith);
}

.cs-container-left-section {
    display: flex;
    align-items: center;
    gap: 1.9vh;
}

/*estilos de la cs-marca*/
.cs-marca {
    cursor: pointer;
    font-size: 1.5em;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.3);
    background: #222 -webkit-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff)) 0 0 no-repeat;
    background-image: -webkit-linear-gradient(-40deg, transparent 0%, transparent 40%, #fff 50%, transparent 60%, transparent 100%);
    background-clip: text;
    background-size: 50px;
    animation: zezzz;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes zezzz {

    0%,
    10% {
        background-position: -200px;
    }

    20% {
        background-position: top left;
    }

    100% {
        background-position: 200px;
    }
}

/*estilos para el boton de mostrar y cocultar menu*/
.cs-menuButton {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 13%;
    color: #ffffff;
    width: 3.5em;
    height: 2.5em;
    transition: all .3s;
}

.cs-input[type="checkbox"] {
    appearance: none;
    display: none;
    visibility: hidden;
}

.cs-menuButton span {
    width: 4vh;
    height: 0.44vh;
    background: #fffcfc;
    transition: 0.3s ease;
}

.cs-input[type]:checked~span.cs-top {
    transform: translateY(290%)rotate(45deg);
    width: 4vh;
}

.cs-input[type]:checked~span.cs-bot {
    transform: translateY(-270%) rotate(-45deg);
    width: 4vh;
}

.cs-input[type]:checked~span.cs-mid {
    transform: translateX(-20px);
    opacity: 0;
}

/**/

.cs-container-secundario {
    display: flex;
    position: relative;
    height: calc(100vh - var(--nav-heith));
}

.cs-container-menu {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 0vh;
}

.cs-container-menu-activo {
    animation: menu-activo 0.5s ease-in-out;
    width: 40vh;
}

.cs-container-menu-inactivo {
    animation: menu-inactivo 0.5s ease-in-out;
    width: 0vh;
}

@keyframes menu-activo {
    0% {
        width: 0vh;
    }

    100% {
        width: 40vh;
    }
}

@keyframes menu-inactivo {
    0% {
        width: 40vh;
    }

    100% {
        width: 0vh;
    }
}

.cs-container-menu-options {
    display: flex;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    flex-direction: column;
    height: 90%;
    background: #202020;
}

.cs-menu-options-option-group {
    list-style: none;
    text-decoration: none;
    text-decoration: none;
    display: flex;
    padding: 2vh;
    align-items: center;
    gap: 2vh;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-weight: bold;
}


.cs-menu-options-option-group:hover {
    background: rgba(0, 255, 21, 0.137);
    color: rgb(0, 255, 21);
    box-shadow: 0 1px 0 rgba(0, 255, 21, 0.329) inset, 0 -1px 0 rgba(0, 255, 21, 0.329) inset;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}


.cs-menu-options-option-group:hover~.cs-container-categorias,
.cs-container-categorias:hover {
    max-height: 9999px;
    display: block;
    transform: scaleY(1);
    animation: showAnimation 0.5s ease-in-out;
    transition: max-height 2s ease-in-out;
}

.cs-container-categorias {
    display: flex;
    flex-direction: column;
    max-height: 0;
    overflow: hidden;
    list-style: none;
    padding: 0;
    margin: 0;
    transform: scaleY(0);
    transform-origin: 50% 0%;
    transition: max-height 0.5s ease-out;
    animation: hideAnimation 0.4s ease-out;
}

@keyframes showAnimation {
    0% {
        transform: scaleY(0.1);
    }

    40% {
        transform: scaleY(1.04);
    }

    60% {
        transform: scaleY(0.98);
    }

    80% {
        transform: scaleY(1.04);
    }

    100% {
        transform: scaleY(0.98);
    }

    80% {
        transform: scaleY(1.02);
    }

    100% {
        transform: scaleY(1);
    }
}

@keyframes hideAnimation {
    0% {
        transform: scaleY(1);
    }

    60% {
        transform: scaleY(0.98);
    }

    80% {
        transform: scaleY(1.02);
    }

    100% {
        transform: scaleY(0);
    }
}

.cs-submenu {
    padding-left: 5vh;
}

.cs-container-copy {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    background: rgb(50, 50, 50);
    color: #ffffff70;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.cs-container-vistas {
    background: var(--backgroudpagina);
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: auto;
    flex: 1;
    padding: 5vh;
}



/*registro de documentos*/

.cs-form-doc-register {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 2vh;
    flex: 1;
    color: white;
}

#cs-form-reg-documentos {
    flex-direction: row-reverse;
}

.cs-form-row-section {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 2vh;
}

.cs-form-doc-register-lef-section {
    flex: 1;
}

#cs-form-doc-register-right-section {
    flex: 2;
    position: relative;
    flex-basis: 40vh;
}

.cs-form-doc-register-group {
    display: flex;
    flex-direction: row;
    /* Asegura que los elementos estén alineados en fila */
    width: auto;
    height: auto;
    align-items: stretch;
    /* Los elementos se estirarán para ocupar la misma altura */
}

.cs-form-doc-register-group .fas {
    display: flex;
    align-items: center;
    /* Centrar el contenido verticalmente */
    background: linear-gradient(rgb(22, 22, 22), #222);
    padding: 2vh;
    border: 0.1vh solid #444;
    height: auto;
    /* Deja que la altura se ajuste automáticamente */
}

.cs-form-doc-register-group .input {
    outline: none;
    font-size: 16px;
    color: #868686;
    padding: 1vh;
    border-radius: 0 5px 5px 0;
    border: 0.1vh solid #444;
    caret-color: lime;
    background: linear-gradient(rgb(22, 22, 22), #222);
    flex-grow: 1;
    /* Se adapta al espacio disponible */
    height: auto;
    /* Ajuste automático de la altura */
}


.cs-form-doc-register-group .input:focus {
    color: lime;
    box-shadow: 0 0 5px rgba(0, 255, 0, .2),
        inset 0 0 5px rgba(0, 255, 0, .1);
    background: linear-gradient(rgb(22, 22, 22), #222922);
    animation: glow .8s ease-out infinite alternate;
}

@keyframes glow {
    0% {
        border-color: #2a7c2a;
        box-shadow: 0 0 5px rgba(0, 255, 0, .2),
            inset 0 0 5px rgba(0, 0, 0, .1);
    }

    100% {
        border-color: #6f6;
        box-shadow: 0 0 20px rgba(0, 255, 0, .6),
            inset 0 0 10px rgba(0, 255, 0, .4);
    }
}

#descripcion {
    height: 37vh;
    resize: none;
}

#icon-descripcion {
    align-items: center;
}

.cs-form-doc-register-lef-section-btns {
    display: flex;
    flex: 1;
    gap: 3vh;
}




.cs-btns-forms-register {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: flex 0.3s ease;
    overflow: hidden;
    height: 6vh;
    padding: 0.15vh;
    background: #000;
    position: relative;
}

.cs-btns-forms-register::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #fb0094, #00f, #0f0, #ff0, #f00, #fb0094, #00f, #0f0, #ff0, #f00);
    background-size: 400%;
    opacity: 0;
    transition: .5s;
    animation: animate 20s linear infinite;
}

.cs-btns-forms-register:hover::before,
.cs-btns-forms-register:hover::after {
    opacity: 1;
}

@keyframes animate {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 300% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.cs-btns-forms-register span {
    display: flex;
    background: #0c0c0c;
    color: rgba(255, 255, 255, 0.603);
    align-items: center;
    justify-content: center;
    transition: .5s;
    z-index: 1;
    height: 100%;
    width: 100%;
}

.cs-btns-forms-register span:hover {
    letter-spacing: 0.6vh;
    font-weight: bold;
}

.cs-btns-forms-register #cs-enviar:hover {
    color: lime;
}

.cs-btns-forms-register #cs-cancelar:hover {
    color: red;
}

/* From Uiverse.io by Cksunandh */
.file-upload-container {
    display: flex;
    flex: 1;
}

.file-upload {
    flex: 1;
    display: flex;
    position: relative;
    border: 2px dashed lime;
    border-radius: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgb(22, 22, 22), #222);
    transition: background-color 0.3s ease-in-out;
}

.file-upload:hover {
    background-color: #e2e6ea;
}

.file-input {
    cursor: pointer;
    display: none;
}

.file-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.upload-icon {
    font-size: 50px;
    color: #007bff;
    margin-bottom: 10px;
}

.file-upload p {
    margin: 0;
    font-size: 16px;
    color: #6c757d;
}

.file-upload.dragover {
    background-color: #007bff;
    color: white;
}

/*aplicado para asp cualquier modificacion revisar y volver a cargar el css en la aplicacion asp*/
/*estilos para diseño de tablas listo
<table class="cs-table"><thead><tr><th>Nombre</th><th>Acciones</th></tr></thead><tbody><tr><td>Juan</td><td class="cs-btns"><a class="cs-edit" href="#">Edit</a><a class="cs-info" href="#">Details</a><a class="cs-delete" href="#">Delete</a></td></tr></tbody></table>
*/
.cs-table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
}

.cs-table th,
.cs-table td {
    padding: 15px;
    text-align: left;
}

.cs-table thead {
    background-color: #00718d;
    color: white;
}

.cs-table thead th {
    text-transform: uppercase;
    font-weight: bold;
}

.cs-table tbody tr {
    background-color: #dadada;
    color: rgb(0, 0, 0);
}

.cs-table tbody tr:nth-child(even) {
    background-color: #ececec;
}

.cs-table tbody tr:hover {
    background-color: #036c96;
}

.cs-table a {
    padding: 1vh 2vh;
    border-radius: 10px;
    color: black;
    text-decoration: none;
    transition: 0.3s ease;
}

.cs-table a:hover {
    scale: 1.1;
}

.cs-table a:active {
    scale: 0.9;
}

.cs-table .cs-btns {
    display: flex;
    gap: 1.5vh;
}

/*.cs-table .cs-btns .cs-edit:hover,
.cs-table .cs-btns .cs-info:hover,
.cs-table .cs-btns .cs-delete:hover {
    letter-spacing: 0.2vh;
}*/

.cs-table .cs-btns .cs-edit {
    background: orange;
    font-weight: bold;
}

.cs-table .cs-btns .cs-info {
    background: lime;
    font-weight: bold;
}

.cs-table .cs-btns .cs-delete {
    background: red;
    font-weight: bold;
}

/*pagina de detalles*/
.cs-details {
    display: flex;
    flex-direction: column;
    gap: 4vh;
}

.cs-details h2 {
    display: flex;
    justify-content: center;
    width: 100%;
    color: white;
}

.cs-details hr {
    display: flex;
    width: 100%;
}

.cs-info-details {
    all: unset;
    position: relative;
    display: flex;
    height: auto;
    flex: 1;
    overflow: hidden;
}

.cs-info-details .cs-row {
    color: white;
    position: relative;
    display: flex;
    height: auto;
    flex: 1;
    flex-wrap: wrap;
}

.cs-row th,
.cs-row td {
    all: unset;
    align-items: center;
    position: relative;
    display: flex;
    padding: 1.5vh;
}

.cs-row th {
    flex: 1;
}

.cs-row td {
    min-width: 50vh;
    flex: 4;
}

.cs-btns-details {
    display: flex;
    gap: 2vh;
}

.cs-container-doc {
    display: flex;
    background: #00718d;
    height: 100vh;
}

/* Estilos para pantallas de celulares */
@media only screen and (max-width: 767px) {

    .cs-container-menu {
        position: absolute;
        height: 100%;
        z-index: 100;
    }
}